body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}


p {
    width: 50%;
    margin: 5% auto 10% auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #8f8f8f;

}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}


/* Title Section */


#title {
    background-color: #ff4c68;
    color: white;
}


.container-fluid {
    padding: 3% 15% 7%;
}


.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    height: auto;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Feaatures Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;

}

.features-images {
    font-size: 4rem;
    color: #ef8172;
}

.features-images:hover {
    font-size: 4rem;
    color: #ff4c68;
}

.features-title h3 {
    margin: 5% 5% 0 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}


/* Testimonials Section */

#testimonials {

    text-align: center;
    background-color: #ef8172;
    color: white
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;

}

#pricing p {
    margin-top: 0%;
    margin-bottom: 2%;

}

.pricing-column {
    padding: 3% 2%;

}

/* CTA Section */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#cta h3 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}

/* Footer Section */


#footer {
    background-color: white;
    text-align: center;
    padding: 7% 0;
}

#footer i {
    width: 2.5%;
}

#footer p {
    margin: 2% auto 0 auto;
}

/* Media Queries */

@media (max-width: 1028px) {

    h1 {
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 1.5;
    }

    h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}


    p{
        font-size: 2rem;
    }
    /* Navigation bar */

    .navbar {
        margin: 0 0rem;
    }

    .navbar-brand {

        font-size: 4.5rem;

    }

    .navbar-toggler {
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 2.5rem;
    }

    /* Title Section */

    .title-image {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }

    .container-fluid {
        padding-left: 7%;
        padding-right: 7%;
    }

.btn{
    font-size: 2.5rem;
}


/* Features Section */

.features-images {
    font-size: 6rem;
    color: #ef8172;
}

.features-images:hover {
    font-size: 6rem;
    color: #ff4c68;
}

.features-title h3 {
    font-size: 3.5rem;
}

/* Pricing Section */

#pricing h3{
    font-size: 2.5rem;
}

    /* Footer Section */

    #footer i {
        font-size: 2.5rem;
        width: 7%;
        padding-top: 2%;
    }

    #footer p {
        padding: 2% 0;
        font-size: 1.8rem;
        width: 100%;
    }

}
